<footer>
  <hr>
  Powered by Open Source Knowledge Base App
  <br>
  <span class="small text-secondary">FREE Alternative to <a href="https://helpsite.com/" target="_blank" rel="nofollow external noopener">Helpsite.com</a></span>
</footer>