<footer>
  <hr>
  <p>
    Copyright &copy; <%= Date.today.year %> <a href="https://knowledgebase.redwebtigers.com">KnowledgeBase</a>. All rights reserved.
    </p>
  <p>
    Powered by <a href="https://knowledgebase.redwebtigers.com">Open Source KnowledgeBase App</a>
    <br>
    <span class="small text-secondary fst-italic">FREE Alternative to <a href="https://helpsite.com/" target="_blank" rel="nofollow external noopener">Helpsite.com</a></span>
  </p>
</footer>