default: &default
  adapter: postgresql
  encoding: unicode
  host: <%= ENV.fetch("POSTGRES_HOST", 'localhost') %>
  username: chetanmittal
  password: password
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: knowledgebasehub_development

test:
  <<: *default
  username: <%= ENV.fetch("PGUSER") %>
  password: <%= ENV.fetch("PGPASSWORD") %>
  database: <%= ENV.fetch("PGDB") %>

production:
  <<: *default
  username: knowledgebasehub
  password: <%= ENV["KNOWLEDGEBASEHUB_DATABASE_PASSWORD"] %>
  database: knowledgebasehub_production
